@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-screen {
  height: auto;
}
body {
  margin: 0 0 55px 0;
  background: #fff;
  height: auto;
  width: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.w-3\/5 {
  width: 90%;
}
.self-end {
  align-self: auto;
}
.gap-8 {
  gap: 0.3px; 
}
.text-xl {
  font-size: 0.8rem;

}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin-right: 1.5px;
}
.text-base {
  font-size: 0.6rem;
}
.flex .gap-4 .w-full {
  display: block ;
}
.my-flex-container {
  display: flex;         
}
.p-8 {
  padding: 1rem;
}